

html, body, div, p, img, table, menu, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font: normal .80em arial, sans-serif;
	color: #1D1D1D;
}
 
	#header {
		width: 100%;
		position: fixed;
		background: #ffffff;
		height: 5%;
		z-index: 2;
	}
 
	#sidebar {
		background: #eee url(../images/sidebar.jpg);
		height: 100vh;
		top: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		text-align: right;
		width: 15%;
		z-index: 1;
		transition: 0.5s;
	}

		#sidebar a {
			font-size: 25px;
			color: #ffffff;
			padding: 30% 10px 5px;
			text-decoration: none;
			display: block;
			transition: 0.3s;
		}
		
		#sidebar a:hover {
			color: #000000;
		}
		
		#sidebar a:active {
			color: #ffff00;
		}
	
		#sidebar > .menu {
			color: #ffff00;
		}
	
	@media screen and (max-height: 450px) {
    #sidebar  {padding-top: 15px;}
    #sidebar a {font-size: 18px;}
	}

	#main {
		background: url(../images/main.jpg) repeat-x ;background-attachment: fixed;
		position: relative;
		transition: 0.5s;
		padding: 20px;
	}
	
	.article {
		background: url(../images/article.jpg) repeat-x;
		margin-left: 5%;
		margin-bottom: 5%;
		border-left: 1px solid gray;
		padding: 1em;
		overflow: hidden;
	}
	
	.article-intro {
		background: none;
		margin-left: 5%;
		margin-bottom: 5%;
		padding: 1em;
		overflow: hidden;
	}
	
	#sidebar + #main {
		margin-left: 15%;
	}

