

h1, h2, h3 {
	font: bold 200% arial, sans-serif;
	color: #ffffff;
	letter-spacing: -1px;
	margin: 0 0 0px 0;
	padding: 15px 0 0 0;
}

h1 {
	font: bold 64px arial, sans-serif;
	padding: 0 0 5px 0;
	color: #ffffff;
	font-weight: bold;
	line-height: 1.5;
}

h2 {
	font: italic 32px arial, sans-serif;
	color: #1ff1ee;
	padding-bottom: 15px;
}

h3 {
	font: bold 125% arial, sans-serif;
	color: #000;
	letter-spacing: 0px;
	margin: 0 0 0px 0;
	padding: 0px 0 0 0;
}
 

html, body, div, p, img, table, menu, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font: normal .80em arial, sans-serif;
	color: #1D1D1D;
}
 
	#header {
		width: 100%;
		position: fixed;
		background: #ffffff;
		height: 5%;
		z-index: 2;
	}
 
	#sidebar {
		background: #eee url(../images/sidebar.png);
		height: 100vh;
		top: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		position: fixed;
		text-align: right;
		padding-top: 6%;
		width: 20%;
		z-index: 1;
		transition: 0.5s;
	}

		#sidebar a {
			font-size: 25px;
			color: #ffffff;
			padding: 30% 15% 5px;
			text-decoration: none;
			display: block;
			transition: 0.3s;
		}
		
		#sidebar a:hover {
			color: #000000;
		}
		
		#sidebar a:active {
			color: #ffff00;
		}
	
		#sidebar > .menu {
			color: #ffff00;
		}
	
	@media screen and (max-height: 450px) {
    #sidebar  {padding-top: 15px;}
    #sidebar a {font-size: 18px;}
	}

	#main {
		background: url(../images/background.png) repeat-x ;background-attachment: fixed;
		position: relative;
		transition: 0.5s;
		
	}
	
	.article {
		background: url(../images/article.png);
		overflow: hidden;
	}
	
	.article-intro {
		background: none;
		padding: 3em;
		overflow: hidden;
	}
	
	#sidebar + #main {
		margin-left: 20%;
	}

